<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weixin.bean.JokeMapper">

	<select id="findOneJoke" resultType="Joke">
		select joke_content from joke order by rand() limit 0,1
	</select>

</mapper>

