<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weixin.bean.Knowledge_subMapper">

	<select id="findAnswerBypid" parameterType="Knowledge_sub" resultType="Knowledge_sub">
		select answer from knowledge_sub where pid=#{pid} order by rand() limit 0,1
	</select>


</mapper>