<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weixin.bean.MenuMapper">

	<!-- 加入带日志的ehcahe缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>

	<select id="findAllmenu" parameterType="Map" resultType="Menu">
		select a.sbid,a.sb_bid,a.menutype,a.name,a.menukey,a.url , b.name as
		sub_name from sub_button a join button b on b.bid=a.sb_bid where 1=1
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</select>

	<select id="getMenuCount" resultType="int">
		select count(1) from sub_button where 1=1
	</select>

	<select id="findAllOnemenu" parameterType="Map" resultType="Menu">
		select * from button where 1=1
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</select>

	<select id="getOneMenuCount" resultType="int">
		select count(1) from button where 1=1
	</select>
	<update id="updateMenu" parameterType="Menu">
		update sub_button set sb_bid=#{bid},
		menutype=#{menutype},name=#{name},menukey=#{menukey},url=#{url} where
		sbid=#{sbid}
	</update>

	<update id="updateOneMenu" parameterType="Menu">
		update button set 
		menutype=#{menutype},name=#{name},menukey=#{menukey},url=#{url} where
		bid=#{bid}
	</update>
	<insert id="addOneGradeMenu" parameterType="Menu"
		useGeneratedKeys="true" keyProperty="bid">
		insert into button(menutype,name,menukey,url) values
		(#{menutype},#{name},#{menukey},#{url})
	</insert>

	<insert id="addTwoGradeMenu" parameterType="Menu"
		useGeneratedKeys="true" keyProperty="sbid">
		insert into sub_button(sb_bid,menutype,name,menukey,url) values
		(#{bid},#{menutype},#{name},#{menukey},#{url})
	</insert>
</mapper>