<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weixin.bean.NewsMaterialMapper">

	<insert id="addNews" parameterType="NewsMaterial">
		insert into newsMaterial (media_id,status,create_at,type) values (#{media_id},#{status},#{create_at},#{type})
	</insert>

	<select id="findAllNews" resultType="NewsMaterial" parameterType="Map">
		select * from newsMaterial <include refid="orderSql"></include> <include refid="pageSql"></include>
	</select>
	
	<select id="findNewsCount" resultType="int">
		select count(1) from
		newsMaterial where 1=1
	</select>

	<sql id="orderSql">
		<if test="orderby != null and orderby != ''">
			order by #{orderby}
			<if test="orderway != null and orderway != ''">
				#{orderway}
			</if>
		</if>
	</sql>
	
	<sql id="pageSql">
		<if test="start != null and start != ''">
			limit #{start},#{pagesize}
		</if>
	</sql>
	
</mapper>